{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="stylesheet" type="text/css" href="{% static 'boards/normalize.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'boards/skeleton.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'boards/custom.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'boards/skeleton-tabs.css' %}" />
<link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

<script src="{% static 'boards/skeleton-tabs.js' %}"></script>
<script src="{% static 'boards/typed.min.js' %}"></script>
<title>The TenMan</title>` {% block content %}{% endblock %}



<script>
  document.addEventListener("DOMContentLoaded", function() {
    Typed.new(".party-date", {
      strings: ["4.8.17"],
      typeSpeed: 100,
      startDelay: 3000,
      cursorChar: "|",
    });
  });
</script>
