{% extends 'boards/base.html' %} {% block content %}
<div class="section hero">
  <div class="container">
    <div class="row">
      <div>
        <h2>Leaderboards.</h2>
        <a class="button button-primary" href="#new-game" title="New game">New game</a>
        <a class="button button-primary" href="#rankings" title="Getting Started">Rankings</a>
      </div>
    </div>
  </div>
</div>

<div class="section new-game" id="new-game">
  <div class="container">
    <div class="row">
      <div class="two columns">
        <h3>New game?</h3>
      </div>
      <form method="post">
        {% csrf_token %}
        <div class="two columns">
          <div class="fieldWrapper">
            <label for="{{ form.comp.id_for_label }}">Competition</label> {{ form.comp }}
          </div>
        </div>
        <div class="two columns">
          <div class="fieldWrapper">
            <label for="{{ form.winner.id_for_label }}">Winner</label> {{ form.winner }}
          </div>
        </div>
        <div class="two columns">
          <div class="fieldWrapper">
            <label for="{{ form.loser.id_for_label }}">Loser</label> {{ form.loser }}
          </div>
        </div>
        <div class="four columns submit-button">
          <input class="u-full-width" type="submit" value="Submit" />
        </div>
      </form>
    </div>
  </div>
</div>

<div class="section rankings" id="rankings">
  <div class="container">
    <div class="row">
      <div class="rankings-select">
        <h3>Rankings</h3>
      </div>
    </div>
    <ul class="tab-nav">
      {% for key,value in rankings.items %}
      <li>
        <a class="{% cycle 'button active' 'button' %}" href="#{{key}}">{{key}}</a>
      </li>
      {% endfor %}
    </ul>

    <div class="tab-content">
      {% for key,value in rankings.items %}
      <div class="{% cycle 'tab-pane active' 'tab-pane' %}" id="{{key}}">

        <table class='center'>
          <thead>
            <tr>
              <th>Name</th>
              <th>Wins</th>
              <th>Loses</th>
              <th>Elo</th>
            </tr>
          </thead>
          <tbody>

            {% for k in value %} {% if k.elo != 1200 %}
            <tr>
              <td>{{k.name}}</td>
              <td>{{k.wins}}</td>
              <td>{{k.loses}}</td>
              <td>{{k.elo |floatformat}}</td>
            </tr>
            {% endif %} {% endfor %}
          </tbody>
        </table>
      </div>

      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
